[user]
  name = Logan Farci
  email = farci.logan@gmail.com

[init]
  defaultBranch = main

[core]
  excludesfile = ~/.gitignore_global

[alias]
  co = checkout
  br = branch
  st = status -sb
  lg = log --oneline --graph --decorate --all
  rb = rebase
  undo = reset --soft HEAD~1

[include]
  path = ~/.gitconfig.local
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
