[user]
  name = Logan Farci
  email = farci.logan@gmail.com

[init]
  defaultBranch = main

[include]
  path = ~/.gitconfig.local
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
